<head>
	<title>{{site.title}}</title>
	<meta name="description" content="{{site.description}}"/>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
	<link rel="icon" type="image/png" href="{{site.baseurl}}/favicon.png">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<meta property="og:title" content="{{site.title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://dmg-photographer.com/" />
	<meta property="og:image" content="https://dmg-photographer.com/assets/img/OG_Title.jpg" />
	<meta property="og:description" content="{{site.og_description}}" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101987382-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-101987382-2');
	</script>

</head>
